<div class="logmonitor-navbar">
    <a href="#"
       data-bind="click: openTab"
       class="logmonitor-navbar-link"
       title="{{ _('Log Monitor') }}">
        <i class="fa fa-list-alt"></i>
        <span class="logmonitor-badge"
              data-bind="visible: hasAlerts(), text: alertText, css: alertClass"></span>
    </a>
</div>
