<a href="#"
   data-bind="click: openHistoryTab, attr: { title: navbarTooltip }"
   class="logmonitor-navbar-link">
    <i class="fa fa-list-alt"></i>
    <span class="logmonitor-badge"
          data-bind="visible: hasAlerts(), text: alertText, css: alertClass"></span>
</a>
