<div class="logmonitor-sidebar">
    <div class="logmonitor-sidebar-content">
        <div class="logmonitor-sidebar-status">
            <i class="fa" data-bind="css: statusIcon"></i>
            <span data-bind="text: statusSummary"></span>
        </div>
        <div class="logmonitor-sidebar-alerts" data-bind="visible: hasAlerts()">
            <div class="alert" data-bind="css: alertClass">
                <strong data-bind="text: alertText"></strong>
            </div>
        </div>
        <div class="logmonitor-sidebar-actions">
            <button class="btn btn-block btn-small" data-bind="click: openHistoryTab">
                <i class="fa fa-external-link"></i> {{ _("Open History List") }}
            </button>
            <button class="btn btn-block btn-small"
                    data-bind="click: resetAlerts, visible: hasAlerts()">
                <i class="fa fa-check"></i> {{ _("Clear Alerts") }}
            </button>
        </div>
    </div>
</div>
